
/* login and register  */
.card{
    width: 40%;
    height: 370px;
    border: 2px solid #d10024;
    margin: 10px auto;
    border-radius: 10px;
}
.rg{
    height: 500px;
}
.card-header{
    height: 51px;
    font-size: 20px;
    color: white;
    background-color: #d10024c7;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
}
.nr-l{
    margin-left: 10px;
}
.card-body{
    padding: 10px;

}
.mb-2{
    margin-top: 23px;
}
.mb-1{
    margin-top: 13px;
}

/* login and register */


/*product*/

.c-product-rating{
    color: #ef233c;
}
.c-product{
    border: 1px solid #D10024;
    margin: 10px;
} 

.c-product-img>img{
 width: 100%;
}
.c-product-body{
    width: 300px;
    margin-top: 20px;
}
.mrt{
    margin-top: 6px;
}
.c-product-btns{
    margin-top: 22px;
}
.pro-num{
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    margin: 41% auto;
    text-align: center;
}
.product-quantity{
    margin: 0px 14px;
    font-size: 15px;
    padding-top: 1px;
    font-weight: bold;
}
.sum-cart{
    padding-left: 50px;
}

/*product*/


/*cart*/
.cart-mounts{
    margin-top: 40px;

}
/*cart*/


/**/
.drd-links-1{
    color: black !important;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}
.drd-links-2{
    color: black !important;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}
.hl-mt{
    margin-top: 7px;
}
/**/


/**/
.backdrop{
    position: fixed;
    background-color: beige;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9;
}

.input-radio-shop{
    margin-right: 9px !important;
    width: 16px;
    height: 16px;
}

.input-page{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.in-active{
    color: white;
    background-color: #d10024;
}
/**/
