
/* login and register  */
.card{
    width: 40%;
    height: 370px;
    border: 2px solid #d10024;
    margin: 10px auto;
    border-radius: 10px;
}
.rg{
    height: 500px;
}
.card-header{
    height: 51px;
    font-size: 20px;
    color: white;
    background-color: #d10024c7;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
    padding: 10px;
}
.nr-l{
    margin-left: 10px;
}
.card-body{
    padding: 10px;

}
.mb-2{
    margin-top: 23px;
}
.mb-1{
    margin-top: 13px;
}

/* login and register */


/*product*/

.c-product-rating{
    color: #ef233c;
}
.c-product{
    border: 1px solid #D10024;
    margin: 10px;
} 

.c-product-img>img{
 width: 100%;
}
.c-product-body{
    width: 300px;
    margin-top: 20px;
}
.mrt{
    margin-top: 6px;
}
.c-product-btns{
    margin-top: 22px;
}
.pro-num{
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    margin: 41% auto;
    text-align: center;
}
.product-quantity{
    margin: 0px 14px;
    font-size: 15px;
    padding-top: 1px;
    font-weight: bold;
}
.sum-cart{
    padding-left: 50px;
}

.product-new{
    width:23%;
    margin:15px 10px;
    padding: 0px;
}
.row-product{
    margin-right: 3px;
    margin-left: 1px;
}

/*product*/


/*cart*/
.cart-mounts{
    margin-top: 40px;

}
/*cart*/


/**/
.drd-links-1{
    color: black !important;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}
.drd-links-2{
    color: black !important;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}
.hl-mt{
    margin-top: 7px;
}
/**/


/**/
.backdrop{
    position: fixed;
    background-color: beige;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0.9;
}

.input-radio-shop{
    margin-right: 9px !important;
    width: 16px;
    height: 16px;
}

.input-page{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #E4E7ED;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.input-page-review{
    display: inline-block;
    width: 34px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #E4E7ED;
    transition: 0.2s all;
}
.in-active{
    color: white;
    background-color: #d10024;
}
/**/


/**/
.NotFound-number{
        color: #d10024;
        text-align: center;
        font-weight: bold;
        font-size: 100px;
        margin-top: 92px;
}
.NotFound-text{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 92px;
}
/**/



/*profile*/
.profile-image{
    background-color: #d10024;
}
.color-red{
    color: #D10024;
}
.profile-detail{
    margin-top: 10px;
}

.boxing{
    box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
    padding: 10px;
}
/*profile*/


/*Admin*/
.admin-Layout{
    display: flex;

}
.admin-Layout .row{
    margin-right: 0px;
    margin-left: 0px;
}
.admin-side-bar{
    height: 100vh;
    background-color: #15161D;
    width: 18%;
    border-right: 2px solid #D10024;
    position: fixed;
}
.admin-content{
    min-height: 100vh;
    background-color: #eee;
    width: 82%;
    margin-left:  18%;
}
.admin-logo{
    margin-left: 20px;
    margin-bottom: 17px;
}

.admin-navs >ul  >li {
    margin: 10px;    
}
.admin-navs >ul  >li >a{
    color: white;
}
.admin-navs >ul >li >a:hover{
    color: #D10024;
    background-color: #FFF;
}
.admin-search form .input{
    width: calc(100% - 260px);
    margin: 17px;
    border-radius: 17px;
}
.admin-account{
    margin-top: 18px;
    margin-left: 318px;
}
#admine-header{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #15161D;
    border-bottom: 2px solid #d10024;
    position: fixed;
    width: 82%;
}
.admin-link-active{
    background-color: #d10024;
}

.mr-l-btn{
    float: right;
}
.mt-80{
    margin-top: 80px;
}

.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}

.rgc{
    height: 530px;
}
.admin-data-table{
    margin-left: 20px;
    margin-right: 20px;
}

.admin-footer{
    position: absolute;
    bottom: 0;
    height: 20px;
    background-color: slategrey;
    color: white;
    width: 82%;
}
.admin-user-form{
    margin: 30px;
}
.admin-user-form label{
    color: #d10024;
    font-size: 15px;
    font-weight: bold;
}

.admin-user-image{
    border-radius: 50%;
}
/*Admin*/